@use '../../../../base/variables' as *;
@use '../../../../base/mixins' as *;

.search_container {
  position: relative;
  width: 100%;

  .clear-icon {
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 4px;
    top: 50%;
    right: 12px;
    height: 18px;
    width: 18px;
    transform: translateY(-50%);
    z-index: 10;

    &:hover {
      background-color: #e5e5e5;
    }

    @include media-query(sm) {
      font-size: $text-large;
    }
  }
}

@media screen and (max-width: 450px) {
  .search_container {
    .clear-icon {
      right: 8px;
      height: 16px;
      width: 16px;
    }
  }
}
