@use '../../../../base/variables' as *;
@use '../../../../base/mixins' as *;

.search_container {
  // flex: 1;
  position: relative;

  .fi-rr-search {
    color: $color-secondary-400;
    position: absolute;
    top: 10px;
    left: 5px;
    padding-left: $text-small;

    @include media-query(sm) {
      top: 11px;
      font-size: 18px;
      color: $color-secondary-800;
      padding-left: 6px;
    }
  }


  input:focus {
    border: 1px solid $color-secondary-800;
  }

  .fi-rr-cross-small {
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 4px;
    gap: 10px;
    top: 11px;
    right: 6px;
    height: 18px;
    width: 18px;

    @include media-query(sm) {
      top: 10px;
      font-size: $text-large;
    }
  }
}

@media screen and (max-width: 450px) {
  .search_container {
    .fi-rr-search {
      // padding-left: 2px;
      //font-size: 1.2em;
      //color: $color-secondary-800;
    }

    input {
      // border: 1px solid $color-secondary-400;
      // border-radius: 8px;
      // align-items: center;
    }
  }
}
