.snackbar{
    background-color: rgb(201, 137, 137);
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    grid-gap: 8px;
    cursor: pointer;
    user-select: none;
    z-index: 99;
    &__icon{
        width: 30px;
    }
    &__wrap_info{
        grid-gap: 4px;
        display: flex;
        flex-direction: column;
        &__title{
            font-size: 16px;
            font-weight: bolder;
            color: #1A1A34;
            display: flex;
            flex-direction: row;
            grid-gap: 5px;
            text-align: initial;
        }
        &__description{ 
            font-size: 16px;
            color: #1A1A34;
            font-weight: 400;
        }
        // &__actions{
        // Protsimamente (:
        // }
    }
}

.highlight{
    background: #BBDEFB;
    border: 1px solid #42A5F5;
}

.error{
    background:  #FFCDD2;
    border: 1px solid #EF5350;
}

.success{
    background: #E8F5E9;
    border: 1px solid #66BB6A;
}

.warning{
    background: #FFF9C4;
    border: 1px solid #FBC02D;
}

.warning_outline{
    background: #F5F5F5;
    border: 1px solid #BDBDBD;
}
