<div class="dialog">
    <div class="dialog__header">
      <h2>{{data.id ? 'Actualizar lead':'Crear lead'}}</h2>
  
      <lucide-icon
        [img]="X"
        class="close cursor-pointer"
        (click)="closeDialog()">
      </lucide-icon>
  
    </div>
  
    <div class="dialog__body">
        <div class="container grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="form">

            <app-input
                label="Nombre"
                [form_control]="form.controls['name']">
            </app-input>

            <!-- Apellido -->
            <app-input
                label="Apellido"
                [form_control]="form.controls['lastname']">
            </app-input>

            <!-- Correo -->
            <app-input
                label="Email"
                [form_control]="form.controls['email']">
            </app-input>

            <!-- Teléfono -->
            <app-input
                label="Teléfono"
                appPhoneDigits
                [form_control]="form.controls['phone']">
            </app-input>

            <!-- Código país -->
            <app-phone-code-select
                [control]="getPhoneCodeControl()">
            </app-phone-code-select>

            <!-- País -->
            <app-phone-country-select
                [control]="getPhoneCountryControl()">
            </app-phone-country-select>

            <app-input
            label="Nombre de la empresa"
            [form_control]="form.controls['company_name']">
            </app-input>

            <app-input
            label="Sitio web"
            [form_control]="form.controls['website']">
            </app-input>

            <!-- Group Select -->
            <app-group-select
              [control]="getGroupControl()"
              [label]="'Grupo'"
              groupType="lead">
            </app-group-select>

        </div>
    </div>
  
    <div class="dialog__footer">
      <app-button
        [text]="data.id ? 'Actualizar':'Crear'"
        custom_class="btn_primary"
        [loading]="loading()"
        (click)="submit()">
      </app-button>
    </div>
  </div>
  