<div class="dialog">
    <div class="dialog__header">
      <h2>{{data.id ? 'Update lead':'Create lead'}}</h2>
  
      <lucide-icon
        [img]="X"
        class="close cursor-pointer"
        (click)="closeDialog()">
      </lucide-icon>
  
    </div>
  
    <div class="dialog__body">
        <div class="container grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="form">

            <app-input
                label="Name"
                [form_control]="form.controls['name']">
            </app-input>

            <!-- Apellido -->
            <app-input
                label="Last name"
                [form_control]="form.controls['lastname']">
            </app-input>

            <!-- Correo -->
            <app-input
                label="Email"
                [form_control]="form.controls['email']">
            </app-input>

            <!-- Teléfono -->
            <app-input
                label="Phone"
                [form_control]="form.controls['phone']">
            </app-input>

            <!-- Código país -->
            <app-input
                label="Phone code"
                [form_control]="form.controls['phone_code']">
            </app-input>

            <!-- País -->
            <app-input
                label="Phone country"
                [form_control]="form.controls['phone_country']">
            </app-input>

            <app-input
            label="Company name"
            [form_control]="form.controls['company_name']">
            </app-input>

            <app-input
            label="Website"
            [form_control]="form.controls['website']">
            </app-input>

        </div>
    </div>
  
    <div class="dialog__footer">
      <app-button
        [text]="data.id ? 'Update':'Create'"
        custom_class="btn_primary"
        [loading]="loading()"
        (click)="submmit()">
      </app-button>
    </div>
  </div>
  