<button
  [type]="type"
  [disabled]="isDisabled"
  class="
    w-full
    flex items-center justify-center gap-2
    rounded-lg
    bg-indigo-600
    px-4 py-2
    text-sm font-semibold text-white
    transition
    hover:bg-indigo-700
    disabled:opacity-50
    disabled:cursor-not-allowed
  "
  [ngClass]="customClass"
>
  @if (loading) {
    <app-spinner [width]="16" [height]="16" [border_width]="3"></app-spinner>
  }

  @if (!loading && icon) {
    <lucide-icon [name]="icon" class="w-4 h-4"></lucide-icon>
  }

  @if (text) {
    <span>{{ text }}</span>
  } @else {
    <ng-content></ng-content>
  }
</button>
