@use '../../../../base/variables.scss' as *;

.empty_stage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-neutral-50;
  height: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: var(--row_gap);
    padding: $space-xs;
  }

  & > div > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    width: var(--width);
    border-radius: 50%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > i {
      color: $color-secondary-600;
      font-size: var(--icon_size);
    }
  }

  & > div > p {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: $text-regular;
    line-height: 18px;
    color: $color-secondary-600;
    span {
      font-weight: 400;
    }
  }
}

.circle_icon {
  background: $color-neutral-200;
}
