<div class="dialog">
    <div class="dialog__header">
      <h2>Actualizar lead</h2>
  
      <lucide-icon
        name="x"
        [img]="X"
        class="close cursor-pointer"
        (click)="closeDialog()">
      </lucide-icon>
  
    </div>
  
    <div class="dialog__body">
        <div class="container grid grid-cols-1 md:grid-cols-2 gap-4" form="form">

            <app-input label="Nombre" [form_control]="form.controls['name']"></app-input>
            <app-input label="Correo" [form_control]="form.controls['email']"></app-input>
      
            <app-input label="Teléfono" [form_control]="form.controls['phone']"></app-input>
            <app-input label="RFC" [form_control]="form.controls['rfc']"></app-input>  
        </div>
    </div>
  
    <div class="dialog__footer">
      <app-button
        text="Actualizar"
        custom_class="btn_primary"
        [loading]="loading"
        (click)="submmit()">
      </app-button>
    </div>
  </div>
  