.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    label{
        font-size: 14px;
    }

}


.input{
    width: 100%;
    position: relative;
    .ti{
        position: absolute;
        color: #222;
        font-size: 28px;
        right: 10px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
    }
    input{
        width: 100%;
        padding: 8px 16px;
        padding-right: 46px;
    }
}