
.table_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px;
  border: 1px solid #EAEBF0;
  overflow-x: auto;
  overflow: visible;
  background: white;
}

.table_header {
  background-color: gray;
  min-height: 40px;
  padding: 0 16px;
  color: #ffff;
  font-weight: 600;
  align-items: center;
  font-size: 13;
  line-height: 24px;
  border-top-right-radius: 3px;
  border-top-left-radius:3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: block;
}

.table_body {
  display: flex;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  border-radius: 10px 10px 10px;
}

.table_body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.table_body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

app-spinner {
  bottom: 5px;
  position: absolute;
  z-index: 100;
  margin: auto;
  left: 0;
  right: 0;
}

table {
  width: 100%;
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: auto;
  height: 100%;

  thead {
    border-radius: 10px;
  }

  thead tr {
    background-color:#fff;
    color: #272D37;
    padding: 6px 16px;
    display: grid;
    gap: 16px;
    align-items: center;
    border-bottom: solid 1px #cfcfcf;
    border-top: none;
    height: 40px;
  }

  thead tr td {
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: 'Poppins';

    & > .rotate {
      transform: rotate(180deg);
    }
  }

  thead tr td i {
    font-weight: 600;
  }

  thead tr .sort-icon {
    padding-top: 4px;
  }

  tr {
    display: grid;
  }

  .empty_stage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100vw;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 10px;
    }

    & > div > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 91px;
      width: 91px;
      border-radius: 50%;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & > i {
        color: #666677;
        font-size: 45px;
      }
    }

    & > div > p {
      font-size: 16px;
      color: #666677;
    }
  }

  tbody {
    overflow-y: auto;
    height: calc(100% - 88px);
  }

  tbody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }

  tbody::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }

  tbody tr {
    background-color: white;
    color: #454545;
    font-weight: 400;
    font-size: 13px;
    padding: 6px 16px;
    display: grid;
    gap: 16px;
    align-items: center;
    border-bottom: solid 1px #cfcfcf;
    border-top: none;
    min-height: 72px;
    cursor: pointer;
    position: relative;
  }

  tbody tr:hover {
    background-color: #D7E4FF;
  }

  tbody tr td {
    font-weight: 400;
    color: #454545;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .check {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:checked {
      accent-color: black;
    }
  }

  & > label {
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.index {
  .border_index {
    position: absolute;
    height: 100%;
    width: 1px;
    background: #bdbdbd;
    left: 41px;
  }
}

.index_mobile {
  position: absolute;
  top: 4px;
  left: 6px;
}

.pagination {
  background: white;
  border-top: 1px solid transparent;
}

.cdk-drag-preview {
  background-color: white;
  display: flex;
  column-gap: 25px;
  align-items: center;
  padding: 6px 16px;
  position: relative;

  .border_index {
    height: 100%;
    top: 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.row:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.table_container.mobile {
  border: none;
}

.is_loading {
  ::-webkit-scrollbar {
    display: none;
  }
}

.mobile {
  ::-webkit-scrollbar {
    display: none;
  }
  .table_header {
    display: none;
  }

  .table_body {
    display: flex;
    position: relative;
    overflow-x: auto;
    height: 100%;
    border-radius: 0px;
  }

  table {
    border: none;
    border-radius: 10px;
    table-layout: fixed;
    width: 100%;
    tr {
      padding: 8px 12px !important;
    }
    tbody tr:hover {
      background-color: transparent;
    }
  }

  .pagination {
    border: none;
    background-color: white;
  }

  tbody {
    background-color: white;

    tr {
      border: 1px solid gray !important;
      border-radius: 10px;
      margin-bottom: 10px;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    }
  }
}

.drag_icon{
  & > i{
    font-size: 24px;
  }
}

