<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">Editar Usuario</h2>
    <button (click)="close()" class="close-button">
      <lucide-icon [img]="X" [size]="20"></lucide-icon>
    </button>
  </div>

  <div class="dialog-content" [formGroup]="form">
    <div class="grid grid-cols-2 gap-4">
      <app-input
        label="Nombre"
        [form_control]="form.controls['first_name']">
      </app-input>

      <app-input
        label="Apellido"
        [form_control]="form.controls['last_name']">
      </app-input>

      <app-input
        label="Email"
        [form_control]="form.controls['email']">
      </app-input>

      <app-input
        label="Teléfono (Opcional)"
        [form_control]="form.controls['phone']">
      </app-input>
    </div>
  </div>

  <div class="dialog-footer">
    <app-button
      text="Cancelar"
      custom_class="btn_secondary"
      (clicked)="close()">
    </app-button>
    <app-button
      text="Guardar Cambios"
      custom_class="btn_primary"
      [loading]="saving()"
      (clicked)="saveUser()">
    </app-button>
  </div>
</div>
